<footer>
  <div class="container">

    <div id="footerContact">
      <p>arthurzitzka@me.com</p>
      <p>Rising Phoenix Tattoo</p>
      <p>19 W Lake St, Addison, IL</p>
      <p>630 / 458 8800</p>
    </div>

    <div id="socialButtons">
      <%= link_to 'http://instagram.com/arthurzitzka', class: "btn btn-social" do %>
        <%= icon('instagram', '', class: "fa-lg") %>
      <% end %>
      <%= link_to 'https://twitter.com/arthurzitzka', class: "btn btn-social" do %>
        <%= icon('twitter', '', class: "fa-lg") %>
      <% end %>
      <%= link_to 'https://www.facebook.com/arthurjillz', class: "btn btn-social" do %>
        <%= icon('facebook', '', class: "fa-lg") %>
      <% end %>
    </div>
  </div>
</footer>
